@import 'normalize-scss/sass/normalize/import-now';
@import 'precision-inputs/css/precision-inputs.fl-controls';

@import url('https://fonts.googleapis.com/css?family=Oswald:200,400');

* {
    user-select: none;
}

body {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    background-color: #21272b;
}

h1 {
    padding: 20px 25px 35px;
    margin: 0;
    font-size: 36px;
    font-weight: 200;
    letter-spacing: 1px;
}

.connect-button {
    margin: 10px 25px;
}

.control-group {
    display: flex;
    align-items: center;

    padding: 15px 25px;
    margin: 10px 20px;

    background-color: #363c40;
    border: 2px solid #272d31;
}

h2 {
    flex: 0 0 200px;
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

.control-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.knob-control {
    flex: 0 0 100px;
}
