<!DOCTYPE html>
<html>
<head>
  <title>Synth1 Controls</title>
  <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body>
  <h1>Synthesizer Web GUI</h1>
  <button class="connect-button" id="connectBtn" onClick="doConnect()">Connect</button>
  <div id="synth1-controls">
    <div class="control-group">
      <h2>Oscillator 1</h2>
      <div class="control-wrapper">
        <div class="knob-container" id="synth1-osc1-phase"></div>
        <div class="knob-container" id="synth1-osc1-freq"></div>
        <div class="knob-container" id="synth1-osc1-pan"></div>
        <div class="knob-container" id="synth1-osc1-tune"></div>
      </div>
    </div>
    <div class="control-group">
      <h2>Oscillator 2</h2>
      <div class="control-wrapper">
        <div class="knob-container" id="synth1-osc2-phase"></div>
        <div class="knob-container" id="synth1-osc2-freq"></div>
        <div class="knob-container" id="synth1-osc2-pan"></div>
        <div class="knob-container" id="synth1-osc2-tune"></div>
      </div>
    </div>
    <div class="control-group">
      <h2>Amplitude Envelope</h2>
      <div class="control-wrapper">
        <div class="knob-container" id="synth1-amp-attack"></div>
        <div class="knob-container" id="synth1-amp-decay"></div>
        <div class="knob-container" id="synth1-amp-sustain"></div>
        <div class="knob-container" id="synth1-amp-release"></div>
      </div>
    </div>
    <div class="control-group">
      <h2>Filter</h2>
      <div class="control-wrapper">
        <div class="knob-container" id="synth1-flt-amount"></div>
        <div class="knob-container" id="synth1-flt-cut"></div>
        <div class="knob-container" id="synth1-flt-res"></div>
        <div class="knob-container" id="synth1-flt-stages"></div>
      </div>
    </div>
    <div class="control-group">
      <h2>Filter Envelope</h2>
      <div class="control-wrapper">
        <div class="knob-container" id="synth1-flt-attack"></div>
        <div class="knob-container" id="synth1-flt-decay"></div>
        <div class="knob-container" id="synth1-flt-sustain"></div>
        <div class="knob-container" id="synth1-flt-release"></div>
      </div>
    </div>
    <div class="control-group">
      <h2>Mixer</h2>
      <div class="control-wrapper">
        <div class="knob-container" id="synth1-mix-osc1"></div>
        <div class="knob-container" id="synth1-mix-osc2"></div>
        <div class="knob-container" id="synth1-mix-smp1"></div>
        <div class="knob-container" id="synth1-mix-smp2"></div>
        <div class="knob-container" id="synth1-mix-master"></div>
      </div>
    </div>
  </div>
  <script src="../main.js"></script>
</body>
</html>
